*{
	padding: 0;
}

a.mui-icon-extra.mui-icon-extra-arrowleftcricle{
	color:#fff;
}

.mui-content{
	overflow: hidden;
}
.backgorund-img{
	width:100%;
	height:34%;
	position: relative;
}
.backgorund-img img{
	width: 100%;
	height: 100%;
}
.detail-address{
	padding: 10px;
	font-size: 14px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 10%;
	left: 9%;
	right: 9%;
	bottom: 10%;
}
.detail-address h4{	
	width: 100%;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detail-address p{
	color:#FFFeee;
}
nav{
	width: 100%;
	overflow: hidden;
}
.fenlei-list{
	display: flex;
	justify-content: space-around;
	padding-left: 0;
}
.fenlei-list li{
	float: left;
}
.fenlei-list li a{
	color: #000000;
}

.english{
	color: #737373;
	font-size: 12px;
	font-weight: initial;
}
.mui-more{
	float: right;
	color:#008df3;
}
.mui-table-view .mui-table-view-cell>a:not(.mui-btn).right-item{
	border: 0px solid #000;
}

.dongtai-title{
	padding-left: 4%;
	color: #343434;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 10px;
} 

.dtlist-title{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
}

.overflow{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
	-webkit-box-orient: vertical;
}

.more{
	color:#00c538;
	float: right;
	text-align: right;
	margin-top: 10px;
	font-size: 14px;
}


.mui-table-view .mui-table-view-cell a{
	width: 50%;
	float: left;
	font-size: 12px;
}
.mui-table-view>a:not(.mui-btn){
	padding-left: 5%;
	/*border-right:  1px solid #C3C3C3;*/
}
.mui-table-view .mui-table-view-cell.dt{
	background: #FAFAFA;
	padding: 11px;
}
.mui-table-view .mui-table-view-cell.dt p:last-child{
	text-indent: 2em
}
.list-name li.list-title{
	padding-left: 20px;
}
.list-title a{
	color: #2D2D2D;
	border-right: 1px solid #e0e0e0;
}
.list-title{
	text-align: center;
}
.list-title.last a{
	border-right: 0px solid #000;
}
.mui-table-view-cell>a:not(.mui-btn) {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
}
.mui-table-view-cell.list-title{
	padding: 0;
	margin: 11px 0;
	
	font-size: 14px;	
	line-height: 20px;
}


.mui-tab-item{
	border-right: 1px solid #c3c3c3; 
	color: #2D2D2D;
}
.mui-tab-item.last{
	border-right: 0px solid #c3c3c3;
}

.lists li.mui-table-view .mui-table-view-cell{
	padding: 11px 0;
}
.dongtai-title img{
	vertical-align: middle;
	width: 30px;
	height: 25px;
}
.mui-card-header.mui-card-media{
	padding: 0;
	
}
.mui-card-footer .mui-row{
	width: 100%;
}
.mui-card-header>img:first-child{
	width: 100%;
	/*height: auto;*/
	height: 200px;
}
.mui-card-header:after{
	height: 0;
}
.mui-content>.mui-card:first-child{
	margin: 0px;
}
.mui-card-footer{
	padding: 0 15px;
	text-align: center;
	/*height: 44px;*/
}
.mui-card-footer>a{
	height: 21px;
}
/*.mui-card-footer>a.active{
	color: #000000;
}*/
.mui-card-header.mui-card-media{
	overflow: hidden;
}

.mui-row .links:last-child a{
	border-right: 0;
	box-sizing: border-box;
}
.links{
	text-align: left;
	padding: 10px 0;   
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
}
.links a{
	color: #353535;
	font-weight: 600;
	border-right: 0px solid #efefef;
	box-sizing: border-box;
}
.mui-card{
	/*box-shadow: 0 0px 2px rgba(0,0,0,.3);*/
}
.mui-table-view.dongtai{
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: 17px;
}
h1, h2, h3, h4, h5, h6{
	margin-bottom: 10px;
	margin-top: 0px;
	font-size: 14px;
}
ul.list-item{
	border-bottom: 1px solid #efefef;
    margin:0;
/* padding: 10px 0;*/
}
.mui-table-view .mui-table-view-cell.dt a{
	width: 100%;
	height: 100%;
	display: block;
	border-right: 0px solid #000;
	padding-left: 0;
}
.mui-icon{
	font-size: 18px;
}
.bg{
	display: inline-block;
	width: 17px;
    height: 17px;
    margin-right: 7px;
    /*margin-top: 1px;*/
    float: left;
}
.sc-change{
	width: 17px;
	height: 17px;
}
.gz-change{
	width: 17px;
	height: 17px;
}
.arrive-change{
	width: 17px;
	height: 17px;
}
.txt_detail{
	display: inline-block;
	width: 26px;
	font-size: 13px;
	height: 17px;
	float: left;
}

.detail_model{
	width: 50px;
	height: 17px;
	margin: 2px auto;
}


.mui-table-view .mui-table-view-cell>a:not(.mui-btn).mui-active{
	background-color: #FAFAFA;
}
