#tabbar .main{
	position: relative;
}
#tabbar .main img{
	width: 100%;
}
#tabbar .main .logo{
	width: 9%;
	position: absolute;
	z-index: 999;
	top: 9%;
    left: 50%;
    margin-left: -4.5%;
}
#tabbar .main .input{
	position: absolute;
    width: 70%;
    height: 20%;
    line-height:26px;
    top: 46%;
    left: 49%;
    margin-left: -33%;
    margin-top: 6.2%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 15px;
    z-index: 999;
    text-indent: 10px;
    color: #999;
}
#tabbar .main .search{
    width: 16%;
    height: 18%;
    position: absolute;
    top: 62%;
    left: 69%;
    border: none;
    background: transparent;
    z-index: 999;
}


#tabbar .func{
	width: 96%;
    margin: 4% 2%;
	overflow: hidden;
}

#tabbar .func .change{
	width: 100%;
}
#tabbar .func .change .model{
	width: 25%;
	overflow: hidden;
	float: left;
	position: relative;
}
#tabbar .func .change .model a{
	width: 100%;
	position: relative;
}
#tabbar .func .change .model a img{
	width: 100%;
}


#tabbar .func .model span{
	font-size: 13px;
	position: absolute;
    bottom: 17%;
    width: 100%;
    letter-spacing: 1px;
    color: #4b4b4b;
    text-align: center;
	
}


/*lunbo*/
#tabbar .mui-slider-indicator .mui-indicator.mui-active{
    background: #295fff;
}

#tabbar .mui-slider-indicator .mui-indicator{
	background: #ffd220;
}
#tabbar .wrap{
	position: relative;
}
#tabbar .wrap>img{
	position: absolute;
    top: -8%;
    left: 0;
    height: 8%;
    width: 100%;
}

.mui-slider-item  a img{
	width: 100%;
	height: 100px;
}
.mui-slider{
	height: 180px;
}
.mui-slider-group,.mui-slider-item,.mui-slider-item a,.mui-slider-item a img{
	height: 100%;	
}
/*hot_loupan*/
#tabbar #card{
	width: 100%;
	margin: 10px 0 2%;
	min-height: 430px;
	padding-bottom: 30px;
}
#tabbar #card .title{
	width: 100%;
	text-align: center;
	font-size: 13px;
	color:#FE7920
}
#card ul li{
	width: 50%;
	height: 200px;
	box-sizing: border-box;
	float: left;	
}
#card ul li img{
	width: 90%;
	height: 170px;
	margin-left: 5%;
}
#card ul li p{
	margin-top:-3px;
	text-align: center;
}



/*搜索框*/
.mui-content .mui-search{
	width: 80%;
	margin: 10px auto;
	border:1px solid #ccc;
	border-radius: 10px;
}
input[type=search]{
    height: 36px;
    color: #999;
    font-size: 15px;
    padding-left: 34px;
    background-color: rgba(255,255,255,1);
}
