/*登录页面的样式*/


html,body{
	font-size: 14px;
	height: 100%;
	overflow: hidden;
	background: url(../img/beijingtu.png) no-repeat;
	background-size: 100% 100%;
}
input{
	font-size: 14px;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
.mui-content{
	height: 100%;
	background: transparent !important; 
}
.mui-content .login_logo {
	width: 100%;
	height: 40px;
	margin: 43px auto;
	text-align: center;
	font-size:30px;	
}

.mui-content .input {
	width: 100%;
	/*margin-bottom: 15px;*/
}

.mui-content .input form {
	width: 100%;
	margin: 0 auto;
}
.mui-content .mui-input-group:before,
.mui-content .mui-input-group:after {
	background-color: #FFFFFF;
}

.mui-content .mui-input-group .mui-input-row:after {
	left: 50px;
	background: #E3E3E3;
}

.mui-content .input form .mui-input-row {
	margin-bottom: 15px;
	/*background: #f9f9f9;*/
	height: 44px;
}

.mui-content .input form .mui-input-row:last-child {
	margin-bottom: 0;
}

.mui-content .input form .mui-input-row .login_icon {
	width: 50px;
	float: left;
	height: 44px;
}

.mui-content .input form .mui-input-row .login_icon img {
	width: 36px;
	height: 38px;
	margin: 3px 7px;
}

.mui-content .input form .mui-input-row input {
	float: left;
	width: 80%;
	overflow: hidden;
	/*border-bottom: 1px solid #000000;*/
}

input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text] {
	padding: 22px 8px;
}

.mui-input-row .mui-input-clear~.mui-icon-clear,
.mui-input-row .mui-input-password~.mui-icon-eye,
.mui-input-row .mui-input-speech~.mui-icon-speech {
	width: 23px;
	height: 23px;
	color: #008DF3;
	font-size: 20px;
	right: 5px;
}


.mui-content .pass_register {
	height: 30px;
	width: 84%;
	margin: 0 auto;
	line-height: 30px;
	letter-spacing: 1px;
}

.mui-content .pass_register a {
	color: #a6a6a6;
}

.mui-content .pass_register a input{
	width: 20px;
}

.login_style{
	width: 60%;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
}
.mui-content .login,.mui-content .reg {
	width: 100%;	
	background-size: 100% 100%;
	height: 34px;
	margin: 0 auto;
	border: 0;
	outline: none;
	color: #333;
	font-size: 13px;
	border-radius: 50px;
	margin-bottom: 15px;
	display: none;
}
.mui-content .login.active{
	background: #008DF3;
	color: #fff;
	display: block;
}

.mui-content .sign.active{
	width: 60%;	
	background-size: 100% 100%;
	height: 34px;
	margin: 0 auto;
	border: 0;
	outline: none;
	color: #333;
	font-size: 13px;
	border-radius: 50px;
	margin-bottom: 15px;
	background: #008DF3;
	line-height: 34px;
	text-align:center;
	color: #fff;
	display: block;
}
.mui-content .login:active{
	
}
button:enabled:active{
	background-color:transparent;
}
#login:active{
	background-color:transparent;
}
.footer{
	width: 100%;
	height: 35%;
	position: relative;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.footer img{
	width: 100%;
	height: auto;
	margin-top: 0;
	
}
.three{
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
	position: relative;
	top: 32px;
}
.footer a {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 21px;
    font-size: 13px;
    margin: 0px 26px;
}
.footer a img{
	width: 40px;
	height: 40px;
}
.mui-icon {
    font-family: Muiicons;
    font-size: 27px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
#mask{
	/*display: block;*/
	display: none;
}
.modal{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
	z-index: 999;
	display: block;
}
.modal-dialog {
  width:82%;
  /*height: 200px;*/
  margin: 170px auto;
}
.modal-content {
  width:100%;
  /*height: 200px;*/
  background:#fff;
  position: relative; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  padding:0;
}

.modal-content .netbusy{
	width: 100%;
	text-align: center;
}
.modal-content .netbusy>img{
	width: 100%;
	vertical-align: middle;
}
.modal-content .tryagain{
	width: 100%;
}
.modal-content .tryagain >button{
	margin-top: 12px;
	width: 35%;
}

.tab>ul{
	width: 100%;
	height:32px;
    /*background:red;*/
    color: #000;
    font-size: 14px;
    line-height:32px;
    padding: 0;
    text-align: center;
    margin: 0;
    list-style:none;
    position:relative;
}
.tab ul>li{
	float:right;
	letter-spacing: 2px;
	text-align: center;
	width: 25%;
	position:relative;
}
.tab ul>li>a {
    letter-spacing: 2px;
    color: #008DF3;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    box-shadow: 0 0 13px -1px rgba(0, 141, 243, 0.2);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.tab ul>li.active>a{
	background: #008DF3;
	letter-spacing: 2px;
	color: #fff;
	background: #008DF3;
}
#valid,#pwd{
	width:96%;
}
.box{
	display: none;
}
.mui-card-content-inner .box.active { 
	display: block; 
}
#getValid {
    position: absolute;
    bottom: 10px;
    right: 0px;
    color: #fff;
  	border-radius: 20px;
    width: 113px;
    height: 32px;
    background: #008df3;
    padding:6px 13px;
    font-size: 12px;
    line-height: 12px;
}
#identifycode{
	width: 39%;
}
.mui-card-content-inner{
	padding: 0 15px;
}

.mui-tab-label{
	color: #333;
}
