.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{
	color: #007AFF;
	font-weight: 700;
}
.mui-btn.mui-btn-primary{
	width: 100%;
	padding: 10px ;
}
.mui-table-view{
	margin-bottom: 50%;
	font-size: 14px;
}
.mui-table-view .mui-table-view-cell{
	padding:0;
}
header img{
	width: 24px;
	height: 24px;
	left: 15px;
	top: 10px;
}
.mui-table-view .mui-table-view-cell>a:not(.mui-btn){
	padding:11px 15px;
}
